@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 10pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 

      .phone-link::after {
         content: none !important;
      }
      .email-link::after {
         content: none !important;
      }
      .address{
         display: inline !important;
      }

    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .fa-circle {
      display: none;
    }

    .skillset .level-bar-inner {
       background-color: grey !important;
       -webkit-print-color-adjust: exact; 
    }

    .level-bar-inner-text {
       color: white !important;
    }

    .project-link[href]:after {
      content: none !important;
   }



}